.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: no-repeat center url(@/assets/img/bg.jpeg);
  background-size: cover;
  padding: 48px;
  min-height: 100vh;
  filter: grayscale(50%);

  &__title,
  &__subtitle {
    color: $white;
  }

  &__title {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: $margin-xl;
  }

  &__subtitle {
    margin-bottom: $margin-lg;
    font-size: 18px;
  }

  &__link {
    background-color: $gray;
    padding: $padding-sm $padding-md;
    font-size: 18px;
    color: $black;
    text-align: center;
    opacity: .6;
    transition: $transition;

    &:hover {
      background-color: $gray-hover;
      opacity: 1;
    }
  }

  &__social,
  &__social-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__social {
    position: absolute;
    gap: 10px;
    padding: 24px 48px;
    bottom: 0;
    left: 0;
    color: $white;
  }

  &__social-link svg {
    fill: $dark-gray;
    transition: $transition;

    &:hover {
      fill: $gray-hover;
    }
  }
}

.portfolio,
.features,
.pricing,
.contact,
.works,
.team {
  padding: $padding-xl $padding-sm;
}

.title,
.subtitle {
  text-align: center;
  color: $black;
  margin-bottom: $margin-lg;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.subtitle {
  margin-bottom: $margin-xl;
  font-size: 18px;
}

.features {
  &__items,
  &__item {
    display: flex;
  }

  &__items {
    justify-content: center;
    gap: 30px;
  }

  &__item {
    flex-direction: column;
    align-items: center;
    gap: $padding-sm;

    &-icon svg {
      fill: $black;
    }

    &-title {
      font-size: 18px;
    }

    &-desc {
      text-align: center;
      font-size: 15px;
    }
  }
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: $gray;

  &__info,
  &__picture {
    width: max-content;
    max-width: 50%;
  }

  &__info {
    &-title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    &-desc,
    &-link {
      font-size: 15px;
    }

    &-desc {
      max-width: 600px;
    }

    &-link {
      display: flex;
      align-items: center;
      width: max-content;
      gap: 10px;
      background-color: $black;
      padding: 8px $padding-sm;
      margin-top: 15px;
      color: $white;
      transition: $transition;

      .icon {
        fill: $white;
        transition: $transition;
      }

      &:hover {
        color: $black;
        background-color: $gray-hover;

        > .icon {
          fill: $black;
        }
      }
    }
  }

  &__picture {
    display: flex;
    justify-content: flex-end;
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.team {
  &__gallery {
    display: flex;
    justify-content: center;
    gap: $padding-sm;
  }
}

.portfolio {
  &__gallery {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: $transition;

      &:hover {
        opacity: .6;
      }
    }
  }
}

.skills {
  display: flex;
  padding: $padding-lg $padding-sm;
  background-color: $gray;

  &__info,
  &__items {
    width: 50%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info {
    &-title {
      margin-bottom: $margin-lg;
      font-size: 24px;
      font-weight: 400;
    }

    &-desc {
      font-size: 15px;
      max-width: 500px;
    }
  }
}

.pricing {
  background-color: $dark-gray;
  .title,
  .subtitle {
    color: $white;
  }

  &__cards {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.contact {
  background-color: $gray;

  &__info,
  &__info-item {
    display: flex;
    gap: 10px;
  }

  &__info {
    flex-direction: column;

    &-item {
      align-items: center;
    }

    &-img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }

    &-link {
      color: $black;
      font-size: 15px;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin: 40px 0 $margin-xl 0;
    gap: 10px;

    &__input,
    &__textarea {
      padding: 8px;
      width: 100%;
      height: 45px;
      border: 1px solid $gray-hover;
    }

    &__textarea {
      resize: none;
    }

    .icon {
      transition: $transition;
      stroke: $white;
      fill: none;
    }
  }

  &__map-img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(75%);
  }
}

@media screen and (max-width: $media-laptops) {
  .features__items,
  .team__gallery {
      flex-wrap: wrap;
  }

  .features__item {
    width: calc(50% - 16px);
  }

  .portfolio__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: $media-tablets) {
  .pricing {
    &__cards {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: $media-mobile) {
  .portfolio,
  .features,
  .pricing,
  .contact,
  .works,
  .team {
    padding: 90px 16px;
  }

  .hero {
    padding: $padding-md;

    &__title {
      font-size: 36px;
      margin-bottom: 36px;
    }

    &__subtitle,
    &__link {
      font-size: 15px;
    }

    &__link {
      padding: 8px 16px;
    }

    &__social {
      padding: 24px 32px;
    }
  }

  .works {
    flex-wrap: wrap-reverse;

    &__info,
    &__picture {
      max-width: 100%;
    }
  }

  .team__gallery {
    gap: 5px;
  }

  .statistics {
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 10px;


    &__item {
      width: calc(50% - 16px);
    }
  }

  .portfolio__gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills {
    flex-wrap: wrap;
    gap: $padding-md;

    &__info,
    &__items {
      width: 100%;
    }
  }
}

