.header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  background-color: $white;
  box-shadow: $header-shadow;
  z-index: 1000;

  &__logo {
    display: inline-block;
    padding: $padding-sm;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  &__nav {
    &-list,
    &-item {
      display: flex;
      align-items: center;
    }

    &-list {
      flex-wrap: wrap;
    }

    &-item {
      gap: 5px;
      padding: $padding-sm;
      font-size: 16px;
      text-transform: uppercase;
      overflow-wrap: break-word;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo,
  &__nav-item {
    color: $black;
    transition: $transition;

    &:hover {
      background-color: $gray-hover;
    }
  }

  &__mobile {
    display: none;
    padding: 10px $padding-sm;
    cursor: pointer;

    .icon {
      fill: $black;
    }
  }

  #check {
    display: none;
  }
}

@media screen and (max-width: $media-tablets) {
  .header {
    &__nav {
      position: absolute;
      top: 0;
      right: 0;
      left: -200px;
      width: 200px;
      height: 100vh;
      background-color: $white;
      box-shadow: $header-shadow;
      transition: $transition;

      &-list {
        flex-direction: column;
        align-items: flex-start;
      }

      &-item {
        width: 100%;
      }
    }

    &__mobile {
      display: flex;
      align-items: center;
      z-index: 1;
    }

    #check:checked + &__mobile > #mobile-menu {
      display: none;
    }

    #check:checked + &__mobile > #mobile-close {
      display: block;
    }
  }

  #check:checked ~ .header__nav {
    left: 0;
  }

  #mobile-close {
    display: none;
  }
}