// Font
$font: Raleway, sans-serif;

// Colors
$red: #f44336;
$gray: #f1f1f1;
$dark-gray: #616161;
$white: white;
$black: black;
$gray-hover: #cccccc;

// Spacing
$padding-sm: 16px;
$padding-md: 32px;
$padding-lg: 64px;
$padding-xl: 128px;

$margin-sm: 10px;
$margin-md: 15px;
$margin-lg: 18px;
$margin-xl: 64px;

// Shadows
$header-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
$card-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

// Animations
$transition: .175s ease-in;

// Breakpoints

$md: 992px