// Font
$font: Raleway, sans-serif;

// Colors
$red: #f44336;
$gray: #f1f1f1;
$dark-gray: #616161;
$white: white;
$black: black;
$gray-hover: #cccccc;

// Spacing
$padding-sm: 16px;
$padding-md: 32px;
$padding-lg: 64px;
$padding-xl: 128px;

$margin-sm: 10px;
$margin-md: 15px;
$margin-lg: 18px;
$margin-xl: 64px;

// Shadows

// Animations

// Breakpoints